/* :root {
    --primary-color: tomato;
    --scendary-color: #3333333;

    --line-color: #ddd;
    --bg-color: #f9f9f9;
    --inner-size: 1290px;

}

html {
    font-size: 62.5%; 6.35%
}


body {
    font-size: 1.6rem; 16rem
} */






.inner {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

.f_inner {
    display: flex;
    gap: 30px;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

.f_inner>* {
    flex: 1;
}

.default {
    padding: 80px 0;
}

.default .title {
    max-width: 1290px;
    margin: 0 auto 40px auto;
}

/* .default  h2 {
    color: var(--primary-color);
} */

.default .title h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 16px 0;
}

.default .title .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}