.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* 왼쪽으로 쪼그란 든걸 잡아 펴 줌  */
    z-index: 999;

}

.header .inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

.header .inner h1 {}

.header .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header .inner .util {
    margin: 0 0 0 auto;
}

.header .inner .util i {
    font-size: 24px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li>a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    white-space: nowrap;
}

.header .util a {
    color: #fff;
}

.main_visual {
    position: relative;
    z-index: 1;
    /* 슬라이드는 제트 인덱스 1을 들고 있음 */
}

.main_visual .main_visual_content {
    position: relative;
    background: #333 url(../images/main_visual01.jpg);
    height: 100vh;
}

.main_visual .main_visual_content .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1290px;
    width: 100%;
}

.main_visual .main_visual_content .slg strong {
    display: block;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 16px 0;
}

.main_visual .main_visual_content .slg p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main_visual .util {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: calc((100% - 1290px)/2 + 1290px);
    width: 100%;
    background: rgba(1, 64, 153, 0.9);
    padding: 0 80px;
}

.main_visual .util .txt {
    color: #fff;
}

.main_visual .util .num {
    color: #fff;
}

.main_visual .util .wheel {
    position: absolute;
    top: 50%;
    left: 0;

    color: #fff;


    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;


    font-size: 12px;
    text-transform: uppercase;
}

.main_visual .util .dot {
    position: relative;
    padding: 0 0 0 60px;
}

.main_visual .util .dot::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    width: 32px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 16px;
}

.main_visual .util .dot::after {
    content: "";
    position: absolute;
    left: 15px;
    top: -4px;
    height: 8px;
    width: 2px;
    background: #fff;

    animation: dot 0.5s infinite;
}

@keyframes dot {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 4px);
    }
}

.main_business {}

.main_business .title h2 {
    text-align: center;
}

.main_business .title .desc {
    text-align: center;

}

.main_business .itm {
    position: relative;
}

.main_business .itm figure {
    position: relative;
    margin: 0 0 16px 0;
    overflow: hidden;
}


.main_business .itm figure img {
    transition: o.5s;
}

.main_business .itm:hover figure img {
    transform: scale(1.2);
}

.main_business .itm::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 120px;
    width: 40px;
    height: 40px;
    background: rgb(231, 0, 18);

    transform: skew(-35deg) translate(100px, -200px);
    opacity: 0;
    box-shadow: 30px 30px 16px rgba(0, 0, 0, 0.5);

    transition: 0.5s;
}

.main_business .itm:hover::after {
    transform: skew(-35deg) translate(0, 0);
    opacity: 1;

}

.main_business .itm:nth-of-type(1)::after {
    top: 120px;
}

.main_business .itm:nth-of-type(2)::after {
    top: 240px;
}

.main_business .itm:nth-of-type(3)::after {
    top: 120px;
}

.main_business .itm:nth-of-type(1)::after {
    top: 80px;
}

.main_business .itm figure .txt {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(1, 64, 153, 0.9);

    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;

    padding: 0 40px;
    opacity: 0;
    transition: 0.5s;

}

.main_business .itm:hover figure .txt {
    opacity: 1;
}

.main_business .itm figure .txt h3 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;

}

.main_business .itm figure .txt p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;

}

.main_business .itm strong {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main_content {
    position: relative;
    background: #f9f9f9;
}

.main_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    transform: translate(-50%, -50%);
    height: 40px;
    background: #0055ff;
}


.main_content .title h2 {
    text-align: center;
}

.main_content .title .desc {
    text-align: center;

}

.main_content .itm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    border: 1px solid #ddd;
    background: #fff;

}

.main_content .itm .img_box {
    margin: 0 0 40px 0;
}

.main_content .itm strong {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.main_content .itm p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 240px;
    text-align: center;
    /* min-height: 96px; 또는 br주기*/
}